{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ĐỔI MẬT KHẨU</title>
    <meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="{% static 'quiz/stype.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:lightgreen">
      <a class="navbar-brand" href="/page/">MTCUneti</a>
</nav>
<div class="container h-100 mt-30 ">
<form method="POST" class="form-signin" >

    {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Thay đổi mật khẩu</h1>
    <input name="old_password" class="form-control" placeholder="Mật khẩu cũ" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="Mật khẩu mới" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Nhập lại mật khẩu" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <div style="color: red" >
        <ul>
            {% if error == "Your old password was entered incorrectly. Please enter it again." %}
          <li><p>Mật khẩu cũ của bạn đã được nhập sai. Vui lòng nhập lại.</p></li>
            {% endif %}
            {% if error == "The two password fields didn't match." %}
          <li><p>Hai trường mật khẩu không khớp.</p></li>
            {% endif %}
            {% if error == "This password is too short. It must contain at least 8 characters." %}
           <li><p>Mật khẩu này quá ngắn. Nó phải chứa ít nhất 8 ký tự.</p></li>
            {% endif %}
            {% if error == "This password is too common." %}
           <li><p>Mật khẩu này quá phổ biến.</p></li>
            {% endif %}
            {% if error == "This password is entirely numeric." %}
           <li><p>Mật khẩu này là hoàn toàn số.</p></li>
            {% endif %}
         </ul>
        </div>
      {% endfor %}
    {% endfor %}
     <a href="/password_change_done/"><button class="btn btn-lg btn-primary btn-block" type="submit" >Cập nhật</button></a>
    </form>

   </div>
</div>
<footer class="page-footer font-small blue pt-4 "style="background: lightgreen">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MTCUNETI.com</a>

  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>