	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: whitesmoke !important;
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: lemonchiffon;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 50%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}

	.dropdown{
	position: relative;
	display: -moz-inline-block;
}
   .dropdown-content{
	display: none;
	position: absolute;
	background-color:lightgreen;
	z-index: 1;
  }

.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content a {
	color: black;
	padding: 1px 1px;
	text-decoration: none;
	font-size: 16px;
}
	#my-div
        {
        width: 35px;
        height: 35px;
		background: #ffc3d7;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        --border-radius: 25px;
        border-radius: 25px;
       }
  .bg {
  /* The image used */
  background: url("https://photo.mac69.com/2019/07/23/JPG-190723_639/mdEwpiTKIf_small.jpg");
  /* Full height */
  height: 91%;
  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
	      -webkit-background-size: cover;
	      -moz-background-size: cover;
          -o-background-size: cover;
		  background-size: cover;
	      display: flex;
	      justify-content: center;
}
/*phần trang tri home*/
.bg .hero-content{
	color: white;
}
.hero-content h1
{
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 10px 10px #000;
	margin-top: 100px;
}
.hero-content h2
{
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 10px 10px #000;
}
.hero-content h4
{
	text-transform: uppercase;
	letter-spacing: 0px;
	text-shadow: 0 10px 10px #000;
}
.hero-content p:last-child
{
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.btn-ls{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 4px;
	position: relative;
	text-align: center;
}
.btn-ls:hover {
	color: #fcf8e3;
	text-decoration: none;
}
.btn-ls::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #fcf8e3;
	opacity: .5;
	transition: .5s;
}
.btn-ls:hover::after{
	width: 100%;
}
.list-product-title{
	width: 100%;
	text-transform: uppercase;
	margin-left:5px;
}
.list-product-subtitle{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}
.card-product{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
}
.bg1 {
  /* The image used */
  background: white;
  /* Full height */
  height: 91%;
  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
	      -webkit-background-size: cover;
	      -moz-background-size: cover;
          -o-background-size: cover;
		  background-size: cover;
	      display: flex;
	      justify-content: center;
}
#square {
    width: 30px;
    height: 30px;
}
#time{
	margin: 30px auto;
	width: 300px;
	padding: 3px;
	background-color:red;
	font-size: 30px;
	color: white;
	border-radius: 10px;
	text-align: center;
}
.dv{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 4px;
	position: relative;
	text-align: center;
}
.kc{
	width: 20px;
	height: 20px;
	.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
}