{% extends 'base.html' %}
{% block about %}
<section class="bg">
    <div class="container ">
        <div class="row"  >
             <div class="hero-content text-center">
              <h2 class="title ml-5 " align="left">GIỚI THIỆU</h2>
              <div class="dv ml-3 mr-3 text-left " style="color: white">
                   <h5>Nhóm nghiên cứu và phát triển</h5>
                   <h5>GVHD: Nguyễn Thu Hiền</h5>
                   <h5>SV: Hứa Mạnh Tuấn | Bùi Xuân Vĩ | Bùi Thị Hoa Mai</h5>
              </div>
              </div>
        </div>


      </div>
   </section>
{% endblock %}