{% load i18n %}
{% if previous.answers %}

{#  {% if user_was_incorrect %}#}
{#    <div class="mb-2" style="color: red">#}
{#  	  <strong>=><i class="fa fa-times fa-lg " aria-hidden="true"></i>{% trans " Bạn đã trả lời sai câu hỏi" %}</strong>#}
{#    </div>#}
{#      {% else %}#}
{#      <div class="mb-2" style="color:lawngreen">#}
{##}
{#  	  <strong>=><i class="fa fa-check fa-lg" aria-hidden="false"></i>{% trans " Bạn đã trả lời sai câu hỏi" %}</strong>#}
{#    </div>#}
{#  {% endif %}#}

  <table class="table table-striped table-bordered">
    <tbody>
  	  {% for answer in previous.answers %}
        {% if answer.correct %}
  	    <tr class="success">
  		  <td>{{ answer.content }}</td>
  		  <td><strong>{% trans "Đây là đáp án chính xác" %}</strong></td>
        {% else %}
  		<tr>
      	  <td>{{ answer.content }}</td>
  		  <td>
{#  			{% if previous.question_type.MCQuestion %}#}
  			  {% if answer.id|add:"0" == previous.previous_answer|add:"0" %}
  			    {% trans "Đây là đáp án bạn chọn" %}
{#  			  {% endif %}#}
  			{% endif %}
  		  </td>
  	  {% endif %}
  	    </tr>
  	{% endfor %}
    </tbody>
  </table>
{% endif %}
