{% extends "index.html" %}
{% block index2 %}
 <div class="container" style="border: 1px solid slategray;background-color:mintcream">
    <div class="mt-2">
      <H4><strong style="color: red">Sửa thông tin cá nhân</strong></H4>
    </div>

     <div class="mt-3">
    <form method="post">
        {% csrf_token %}
                     <div>
                        <table>
                            <tr>
                               <th>
                                    Tên người dùng:
                                </th>
                                <td>
                                    {{ form.first_name }}
                                </td>
                                 <td>
                                    <div style="color: red">
                                       {% if title1 or title2 %}
                                           <i class="fa fa-exclamation-circle"></i>
                                       {% endif %}
                                     </div>
                                </td>
                            </tr>
                            <tr>
                                 <th>
                                   Email:
                                </th>
                                <td>
                                    <p>{{ form.email }}
                                </td>
                                <td>
                                    <div style="color: red">
                                       {% if title or title2 %}
                                           <i class="fa fa-exclamation-circle"></i>
                                       {% endif %}
                                     </div>
                                </td>
                            </tr>
                   </table>
                   <div class="mt-2" style="color: red">
                   {% if title %}
                       {{ title }}
                   {% endif %}
                    {% if title1 %}
                       {{ title1 }}
                   {% endif %}
                   {% if title2 %}
                       {{ title2 }}
                   {% endif %}
                   </div>
                </div>
           <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Cập nhật</button>
               <a href="/index/"><button type="button" class="btn btn-danger">hủy</button></a>
           </div>
    </form>
     </div>
 </div>
{% endblock %}